{snippet}
<h1>{$zarizeni->nazev}</h1>
<img src="//chart.googleapis.com/chart?chxl=0:|Jan|Feb|Mar|Jun|Jul|Aug&chxr=0,5,95|1,240,250&chxt=x,y&chs=300x150&cht=lc&chco=FF9900,008000,0000FF&chds=200,250,200,250,200,250&chd=t:{$val1}|{$val2}|{$val3}&chg=25,25&chls=0.75,-1,-1|0.75,-1,-1|3,4,1&chm=b,EFEFEF66,0,1,0" width="300" height="150" alt="" />
{/snippet}