{block content}

<h1 n:block="title">Přehled</h1>

<h2>Mé úkoly</h2>
{control userTasks}

<h2>Všechny nesplněné</h2>
{control incompleteTasks}

<h3>Bican test</h3>
<table>
{foreach $v1 as $task}
    <tr>
        <td>{$task->id}</td>
        <td>{$task->datum}</td>
        <td>{$task->regulator}</td>
        <td>{$task->chyba}</td>
    </tr>
    {/foreach}{/block}
</table>
